/* Group 42 */

position: absolute;
width: 1440px;
height: 972px;
left: 0px;
top: 0px;



/* 상단 */

position: absolute;
width: 1440px;
height: 92px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 92.19%;

background: #FFFFFF;


/* DoomChit */

position: absolute;
left: 2.01%;
right: 83.47%;
top: 1.56%;
bottom: 91.02%;

font-family: 'Gafata';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 56px;

color: #A352D2;



/* Vector */

position: absolute;
left: 18.06%;
right: 52.78%;
top: 2.54%;
bottom: 93.95%;

background: #F5F5F5;


/* [MV] 사랑 고백, Apink - Love Me More */

position: absolute;
left: 19.44%;
right: 63.54%;
top: 3.52%;
bottom: 94.82%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #999999;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 7.81%;
bottom: 92.19%;

background: #000000;
border: 1px solid #E5E5E5;


/* 메뉴 */

position: absolute;
width: 1304px;
height: 99px;
left: 120px;
top: 24px;



/* 둠칫차트 */

position: absolute;
left: 8.33%;
right: 87.57%;
top: 10.16%;
bottom: 87.99%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #A352D2;



/* 좋아요 */

position: absolute;
left: 15.69%;
right: 81.18%;
top: 10.16%;
bottom: 87.99%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #111111;



/* 홍길동님, 환영합니다^0^ */

position: absolute;
left: 84.38%;
right: 1.11%;
top: 2.34%;
bottom: 95.31%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #111111;



/* 장르음악 */

position: absolute;
left: 22.22%;
right: 73.68%;
top: 10.16%;
bottom: 87.99%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #111111;



/* 차트 */

position: absolute;
left: 8.33%;
right: 88.06%;
top: 15.82%;
bottom: 80.86%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
/* 상자 높이와 동일 */

color: #111111;



/* 구분 */

position: absolute;
width: 1200px;
height: 44px;
left: 120px;
top: 235px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 22.95%;
bottom: 72.75%;

background: #FAFAFA;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 27.25%;
bottom: 72.75%;

background: #000000;
border: 1px solid #E5E5E5;


/* 번호 */

position: absolute;
left: 10.42%;
right: 87.78%;
top: 24.32%;
bottom: 74.02%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #666666;



/* 곡정보 */

position: absolute;
left: 15.97%;
right: 81.32%;
top: 24.32%;
bottom: 74.02%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #666666;



/* 앨범 */

position: absolute;
left: 36.74%;
right: 61.46%;
top: 24.32%;
bottom: 74.02%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #666666;



/* 좋아요 */

position: absolute;
left: 74.58%;
right: 22.71%;
top: 24.32%;
bottom: 74.02%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #666666;



/* 듣기 */

position: absolute;
left: 87.85%;
right: 10.35%;
top: 24.32%;
bottom: 74.02%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #666666;



/* 댓글 */

position: absolute;
left: 60.9%;
right: 37.29%;
top: 24.22%;
bottom: 74.12%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #666666;



/* 2 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 352px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 39.26%;
bottom: 60.74%;

background: #000000;
border: 1px solid #EEEEEE;


/* 2 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 35.25%;
bottom: 62.89%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 34.38%;
bottom: 60.94%;

background: #DDDDDD;


/* 안녕하시봉 */

position: absolute;
left: 19.44%;
right: 75.42%;
top: 34.77%;
bottom: 63.38%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 나혜 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 36.91%;
bottom: 61.43%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 나혜의 첫앨범 */

position: absolute;
left: 34.17%;
right: 60.14%;
top: 36.13%;
bottom: 62.21%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 12,658 */

position: absolute;
left: 75.97%;
right: 20.9%;
top: 36.04%;
bottom: 62.3%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 65,446 */

position: absolute;
left: 61.39%;
right: 35.28%;
top: 36.13%;
bottom: 62.21%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 35.25%;
bottom: 61.62%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 35.84%;
bottom: 62.21%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 35.94%;
bottom: 62.11%;

background: #000000;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 36.04%;
bottom: 62.01%;

background: #000000;


/* 3 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 409px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 44.82%;
bottom: 55.18%;

background: #000000;
border: 1px solid #EEEEEE;


/* 3 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 40.82%;
bottom: 57.32%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 39.94%;
bottom: 55.37%;

background: #DDDDDD;


/* 안녕못하시봉 */

position: absolute;
left: 19.44%;
right: 74.38%;
top: 40.33%;
bottom: 57.81%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 단비 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 42.48%;
bottom: 55.86%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 데빌비 */

position: absolute;
left: 34.17%;
right: 63.12%;
top: 41.7%;
bottom: 56.64%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 41.41%;
bottom: 56.64%;

background: #000000;


/* 79,655 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 41.6%;
bottom: 56.74%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 94,165 */

position: absolute;
left: 61.39%;
right: 35.56%;
top: 41.7%;
bottom: 56.64%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 40.82%;
bottom: 56.05%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 41.41%;
bottom: 56.64%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 41.7%;
bottom: 56.35%;

background: #000000;


/* 1 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 295px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 33.69%;
bottom: 66.31%;

background: #000000;
border: 1px solid #EEEEEE;


/* 1 */

position: absolute;
left: 11.04%;
right: 88.4%;
top: 29.69%;
bottom: 68.46%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 28.81%;
bottom: 66.5%;

background: #DDDDDD;


/* Good Goodbye */

position: absolute;
left: 19.44%;
right: 72.43%;
top: 29.2%;
bottom: 68.95%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 화사 (HWASA) */

position: absolute;
left: 19.44%;
right: 74.24%;
top: 31.35%;
bottom: 66.99%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* Good Goodbye */

position: absolute;
left: 34.17%;
right: 58.89%;
top: 30.57%;
bottom: 67.77%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 30.27%;
bottom: 67.77%;

background: #000000;


/* 98,657 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 30.47%;
bottom: 67.87%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 76,246 */

position: absolute;
left: 61.39%;
right: 35.42%;
top: 30.57%;
bottom: 67.77%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 29.69%;
bottom: 67.19%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 30.27%;
bottom: 67.77%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 30.57%;
bottom: 67.48%;

background: #000000;


/* 5 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 523px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 55.96%;
bottom: 44.04%;

background: #000000;
border: 1px solid #EEEEEE;


/* 5 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 51.95%;
bottom: 46.19%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 51.07%;
bottom: 44.24%;

background: #DDDDDD;


/* 안녕하시봉 */

position: absolute;
left: 19.44%;
right: 75.42%;
top: 51.46%;
bottom: 46.68%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 나혜 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 53.61%;
bottom: 44.73%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 나혜의 첫앨범 */

position: absolute;
left: 34.17%;
right: 60.14%;
top: 52.83%;
bottom: 45.51%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 52.54%;
bottom: 45.51%;

background: #000000;


/* 12,658 */

position: absolute;
left: 75.97%;
right: 20.9%;
top: 52.73%;
bottom: 45.61%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 65,446 */

position: absolute;
left: 61.39%;
right: 35.28%;
top: 52.83%;
bottom: 45.51%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 51.95%;
bottom: 44.92%;

background: #A352D2;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 52.54%;
bottom: 45.51%;

background: #000000;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 52.54%;
bottom: 45.51%;

background: #FFFFFF;


/* 6 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 580px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 61.52%;
bottom: 38.48%;

background: #000000;
border: 1px solid #EEEEEE;


/* 6 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 57.52%;
bottom: 40.62%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 56.64%;
bottom: 38.67%;

background: #DDDDDD;


/* 안녕못하시봉 */

position: absolute;
left: 19.44%;
right: 74.38%;
top: 57.03%;
bottom: 41.11%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 단비 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 59.18%;
bottom: 39.16%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 데빌비 */

position: absolute;
left: 34.17%;
right: 63.12%;
top: 58.4%;
bottom: 39.94%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 79,655 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 58.3%;
bottom: 40.04%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 94,165 */

position: absolute;
left: 61.39%;
right: 35.56%;
top: 58.4%;
bottom: 39.94%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 57.52%;
bottom: 39.36%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 58.11%;
bottom: 39.94%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 58.11%;
bottom: 39.94%;

background: #000000;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 58.11%;
bottom: 39.94%;

background: #000000;


/* 4 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 466px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 50.39%;
bottom: 49.61%;

background: #000000;
border: 1px solid #EEEEEE;


/* 4 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 46.39%;
bottom: 51.76%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 45.51%;
bottom: 49.8%;

background: #DDDDDD;


/* Good Goodbye */

position: absolute;
left: 19.44%;
right: 72.43%;
top: 45.9%;
bottom: 52.25%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 화사 (HWASA) */

position: absolute;
left: 19.44%;
right: 74.24%;
top: 48.05%;
bottom: 50.29%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* Good Goodbye */

position: absolute;
left: 34.17%;
right: 58.89%;
top: 47.27%;
bottom: 51.07%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 46.97%;
bottom: 51.07%;

background: #000000;


/* 98,657 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 47.17%;
bottom: 51.17%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 76,246 */

position: absolute;
left: 61.39%;
right: 35.42%;
top: 47.27%;
bottom: 51.07%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 46.39%;
bottom: 50.49%;

background: #A352D2;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 47.07%;
bottom: 50.98%;

background: #000000;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 46.97%;
bottom: 51.07%;

background: #FFFFFF;


/* 8 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 694px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 72.66%;
bottom: 27.34%;

background: #000000;
border: 1px solid #EEEEEE;


/* 8 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 68.65%;
bottom: 29.49%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 67.77%;
bottom: 27.54%;

background: #DDDDDD;


/* 안녕하시봉 */

position: absolute;
left: 19.44%;
right: 75.42%;
top: 68.16%;
bottom: 29.98%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 나혜 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 70.31%;
bottom: 28.03%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 나혜의 첫앨범 */

position: absolute;
left: 34.17%;
right: 60.14%;
top: 69.53%;
bottom: 28.81%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 69.24%;
bottom: 28.81%;

background: #000000;


/* 12,658 */

position: absolute;
left: 75.97%;
right: 20.9%;
top: 69.43%;
bottom: 28.91%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 65,446 */

position: absolute;
left: 61.39%;
right: 35.28%;
top: 69.53%;
bottom: 28.81%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 68.65%;
bottom: 28.22%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 69.24%;
bottom: 28.81%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 69.24%;
bottom: 28.81%;

background: #000000;


/* 9 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 751px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 78.22%;
bottom: 21.78%;

background: #000000;
border: 1px solid #EEEEEE;


/* 9 */

position: absolute;
left: 11.04%;
right: 88.19%;
top: 74.22%;
bottom: 23.93%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 73.34%;
bottom: 21.97%;

background: #DDDDDD;


/* 안녕못하시봉 */

position: absolute;
left: 19.44%;
right: 74.38%;
top: 73.73%;
bottom: 24.41%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 단비 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 75.88%;
bottom: 22.46%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 데빌비 */

position: absolute;
left: 34.17%;
right: 63.12%;
top: 75.1%;
bottom: 23.24%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 74.8%;
bottom: 23.24%;

background: #000000;


/* 79,655 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 75%;
bottom: 23.34%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 94,165 */

position: absolute;
left: 61.39%;
right: 35.56%;
top: 75.1%;
bottom: 23.24%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 74.22%;
bottom: 22.66%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 74.8%;
bottom: 23.24%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 74.8%;
bottom: 23.24%;

background: #000000;


/* 7 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 637px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 67.09%;
bottom: 32.91%;

background: #000000;
border: 1px solid #EEEEEE;


/* 7 */

position: absolute;
left: 11.04%;
right: 88.26%;
top: 63.09%;
bottom: 35.06%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 62.21%;
bottom: 33.11%;

background: #DDDDDD;


/* Good Goodbye */

position: absolute;
left: 19.44%;
right: 72.43%;
top: 62.6%;
bottom: 35.55%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 화사 (HWASA) */

position: absolute;
left: 19.44%;
right: 74.24%;
top: 64.75%;
bottom: 33.59%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* Good Goodbye */

position: absolute;
left: 34.17%;
right: 58.89%;
top: 63.96%;
bottom: 34.38%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 63.67%;
bottom: 34.38%;

background: #000000;


/* 98,657 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 63.87%;
bottom: 34.47%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 76,246 */

position: absolute;
left: 61.39%;
right: 35.42%;
top: 63.96%;
bottom: 34.38%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 63.09%;
bottom: 33.79%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 63.67%;
bottom: 34.38%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 63.77%;
bottom: 34.28%;

background: #000000;


/* 11 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 865px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 89.36%;
bottom: 10.64%;

background: #000000;
border: 1px solid #EEEEEE;


/* 11 */

position: absolute;
left: 11.04%;
right: 87.85%;
top: 85.35%;
bottom: 12.79%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 84.47%;
bottom: 10.84%;

background: #DDDDDD;


/* 안녕하시봉 */

position: absolute;
left: 19.44%;
right: 75.42%;
top: 84.86%;
bottom: 13.28%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 나혜 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 87.01%;
bottom: 11.33%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 나혜의 첫앨범 */

position: absolute;
left: 34.17%;
right: 60.14%;
top: 86.23%;
bottom: 12.11%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 85.94%;
bottom: 12.11%;

background: #000000;


/* 12,658 */

position: absolute;
left: 75.97%;
right: 20.9%;
top: 86.13%;
bottom: 12.21%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 65,446 */

position: absolute;
left: 61.39%;
right: 35.28%;
top: 86.23%;
bottom: 12.11%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 85.35%;
bottom: 11.52%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 85.94%;
bottom: 12.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 85.94%;
bottom: 12.11%;

background: #000000;


/* 12 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 922px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 94.92%;
bottom: 5.08%;

background: #000000;
border: 1px solid #EEEEEE;


/* 12 */

position: absolute;
left: 11.04%;
right: 87.71%;
top: 90.92%;
bottom: 7.23%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 90.04%;
bottom: 5.27%;

background: #DDDDDD;


/* 안녕못하시봉 */

position: absolute;
left: 19.44%;
right: 74.38%;
top: 90.43%;
bottom: 7.71%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 단비 */

position: absolute;
left: 19.44%;
right: 78.75%;
top: 92.58%;
bottom: 5.76%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* 데빌비 */

position: absolute;
left: 34.17%;
right: 63.12%;
top: 91.8%;
bottom: 6.54%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 91.5%;
bottom: 6.54%;

background: #000000;


/* 79,655 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 91.7%;
bottom: 6.64%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 94,165 */

position: absolute;
left: 61.39%;
right: 35.56%;
top: 91.8%;
bottom: 6.54%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 90.92%;
bottom: 5.96%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 91.5%;
bottom: 6.54%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 91.6%;
bottom: 6.45%;

background: #000000;


/* 10 */

position: absolute;
width: 1200px;
height: 50px;
left: 120px;
top: 808px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 83.79%;
bottom: 16.21%;

background: #000000;
border: 1px solid #EEEEEE;


/* 10 */

position: absolute;
left: 11.04%;
right: 87.64%;
top: 79.79%;
bottom: 18.36%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Vector */

position: absolute;
left: 15.28%;
right: 81.39%;
top: 78.91%;
bottom: 16.41%;

background: #DDDDDD;


/* Good Goodbye */

position: absolute;
left: 19.44%;
right: 72.43%;
top: 79.3%;
bottom: 18.85%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 화사 (HWASA) */

position: absolute;
left: 19.44%;
right: 74.24%;
top: 81.45%;
bottom: 16.89%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #777777;



/* Good Goodbye */

position: absolute;
left: 34.17%;
right: 58.89%;
top: 80.66%;
bottom: 17.68%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 73.68%;
right: 24.93%;
top: 80.37%;
bottom: 17.68%;

background: #000000;


/* 98,657 */

position: absolute;
left: 75.97%;
right: 20.83%;
top: 80.57%;
bottom: 17.77%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* 76,246 */

position: absolute;
left: 61.39%;
right: 35.42%;
top: 80.66%;
bottom: 17.68%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* 상자 높이와 동일 */

color: #555555;



/* Vector */

position: absolute;
left: 87.64%;
right: 10.14%;
top: 79.79%;
bottom: 17.09%;

background: #A352D2;


/* Vector */

position: absolute;
left: 88.33%;
right: 10.56%;
top: 80.37%;
bottom: 17.68%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 59.1%;
right: 39.51%;
top: 80.37%;
bottom: 17.68%;

background: #000000;
