<!-- header.html -->
<header class="header">

  <!-- 상단 -->
  <div class="header-top">

    <!-- 로고 -->
    <div class="logo">
      <a href="/doomchit/main">DoomChit</a>
    </div>

    <!-- 검색 영역 -->
    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Search the web" />
      <button id="searchBtn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <!-- 로그인 -->
    <div class="auth">
      <a href="/doomchit/login" class="login-link">로그인</a>
    </div>

  </div>

  <!-- 하단 메뉴 -->
  <nav class="header-nav">
    <a href="/doomchit/main" data-menu="main">둠칫차트</a>
    <a href="/doomchit/likes" data-menu="likes">좋아요</a>
  </nav>


</header>