@media screen and (min-width: 640px) {
  #album-main-img {
    width: 295px;
  }
}

#album-img {
  width: 100%;
}

#music-sub-album-text > h4,
#music-sub-album-text > h6 {
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

dd > #text {
  text-overflow: auto;
}

dt,
#stars {
  float: left;
}

#music-sum-list > dt,
#music-production > .list > dt {
  width: 4rem;
}

#music-infos > .list > dt {
  width: 7rem;
}

#stars,
#likes-icon,
#rating_value1,
#rating_value2 {
  color: #a352d2;
}

#reviews-tab {
  a {
    color: black;
  }

  b {
    color: #a352d2;
  }
}

.form-control {
  border: none;
}
