<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/fontawesome-all.min.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gafata&family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <title>회원 가입 - DoomChit</title>
    
    <style>
      
      h1 {
        color: #a352d2;
      }
      
      body {
       background-color: #eee; 
      }
      
      input::placeholder {
        font-size: 0.85rem;
      }
      
      /*광역*/
      a {
        color: #a352d2;
        text-decoration-line: none;
      }

      .btn-primary {
        background-color: #a352d2;
        border-color: #a352d2;
      }

      .btn-primary:hover {
        background-color: darkred;
        border-color: darkred;
      }
    </style>
  </head>
  <body>
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-2 py-md-5">
    <div class="modal-dialog">
    <div id="contents" class="modal-content rounded-4 p-5 shadow">
      <a th:href="@{/doomchit/main}"><h1 class="d-flex justify-content-center pb-5">DoomChit</h1></a>
      
    <form th:action="@{/doomchit/signup}" th:object="${userForm}" method="post">
    <div class="row g-3 align-items-start mb-3">
      <div class="col-3">
        <label for="userId" class="col-form-label">아이디</label>
      </div>

      <div class="col-9">
        <input id="userId" th:field="*{userId}" type="text" class="form-control" placeholder="아이디를 입력해 주세요">
        <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="form-text text-danger ps-1"></div>
      </div>
    </div>
    
    <div class="row g-3 align-items-start mb-3">
      <div class="col-3">
        <label for="username" class="col-form-label">닉네임</label>
      </div>

      <div class="col-9">
        <input id="username" th:field="*{username}" type="text" class="form-control" placeholder="닉네임을 입력해 주세요">
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form-text text-danger ps-1"></div>
      </div>
    </div>

    <div class="row g-3 align-items-start mb-3">
      <div class="col-3">
        <label for="userPwd1" class="col-form-label">비밀 번호</label>
      </div>

      <div class="col-9">
        <input id="userPwd1" th:field="*{userPwd1}" type="password" class="form-control" placeholder="비밀 번호를 입력해 주세요">
      </div>
    </div>
    
    <div class="row g-3 align-items-start mb-5">
      <div class="col-3">
        <label for="userPwd2" class="col-form-label">비밀 번호 확인</label>
      </div>

      <div class="col-9">
        <input id="userPwd2" th:field="*{userPwd2}" type="password" class="form-control" placeholder="비밀 번호를 한 번 더 입력해 주세요">
        <div th:if="${#fields.hasErrors('userPwd2')}" th:errors="*{userPwd2}" class="form-text text-danger ps-1"></div>
      </div>
    </div>
    
    <div class="text-center col">
      <button type="submit" class="btn btn-primary w-100 fs-5">화원 가입</button>
    </div>
  </form>
  </div>
  </div>
  </div>
  </body>
</html>
